<!DOCTYPE html>
<html>
<head>

  <title>Login</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="http://bootswatch.com/simplex/bootstrap.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/backgrid-filter.min.css">
  <link rel="stylesheet" href="/styles/backgrid-paginator.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
</head>

<body class="loginbody">
  <div class="container-fluid login">
    <div class="col-xs-offset-4 col-xs-4 loginform">
      <p class="lead text-center">Login</p>
      <form role="form" action="/user/login" method="post">
        <div class="input-group">
           <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" id="username" name="username" placeholder="Gebruikersnaam">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" id="password" name="password" placeholder="Wachtwoord">
        </div>
          <input type="submit" class="btn btn-default btn-block"></input>
      </form>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
